<%= form_for(@vendor_material) do |f| %>
  <% if @vendor_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_material.errors.count, "error") %> prohibited this vendor_material from being saved:</h2>

      <ul>
      <% @vendor_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
