<%= form_for(@postick) do |f| %>
  <% if @postick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postick.errors.count, "error") %> prohibited this postick from being saved:</h2>

      <ul>
      <% @postick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
