<h1>Listing transfer_orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ordernumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transfer_orders.each do |transfer_order| %>
  <tr>
    <td><%= transfer_order.id %></td>
    <td><%= transfer_order.orderNumber %></td>
    <td><%= link_to 'Show', transfer_order %></td>
    <td><%= link_to 'Edit', edit_transfer_order_path(transfer_order) %></td>
    <td><%= link_to 'Destroy', transfer_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transfer order', new_transfer_order_path %>
