<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @company.id %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
