<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @address.id %>
</p>

<p>
  <b>Name:</b>
  <%= @address.name %>
</p>

<p>
  <b>Address:</b>
  <%= @address.address %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @address.zipcode %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
