<h1>Listing shipping_orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ordernumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_orders.each do |shipping_order| %>
  <tr>
    <td><%= shipping_order.id %></td>
    <td><%= shipping_order.orderNumber %></td>
    <td><%= link_to 'Show', shipping_order %></td>
    <td><%= link_to 'Edit', edit_shipping_order_path(shipping_order) %></td>
    <td><%= link_to 'Destroy', shipping_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping order', new_shipping_order_path %>
