<h1>Listing manufacture_orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ordernumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacture_orders.each do |manufacture_order| %>
  <tr>
    <td><%= manufacture_order.id %></td>
    <td><%= manufacture_order.orderNumber %></td>
    <td><%= link_to 'Show', manufacture_order %></td>
    <td><%= link_to 'Edit', edit_manufacture_order_path(manufacture_order) %></td>
    <td><%= link_to 'Destroy', manufacture_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacture order', new_manufacture_order_path %>
