<%= form_for(@rma_order) do |f| %>
  <% if @rma_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rma_order.errors.count, "error") %> prohibited this rma_order from being saved:</h2>

      <ul>
      <% @rma_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :orderNumber %><br />
    <%= f.text_field :orderNumber %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :vendorRmaNumber %><br />
    <%= f.text_field :vendorRmaNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
