<h1>Listing rma_orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ordernumber</th>
    <th>Status</th>
    <th>Type</th>
    <th>Vendorrmanumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rma_orders.each do |rma_order| %>
  <tr>
    <td><%= rma_order.id %></td>
    <td><%= rma_order.orderNumber %></td>
    <td><%= rma_order.status %></td>
    <td><%= rma_order.type %></td>
    <td><%= rma_order.vendorRmaNumber %></td>
    <td><%= link_to 'Show', rma_order %></td>
    <td><%= link_to 'Edit', edit_rma_order_path(rma_order) %></td>
    <td><%= link_to 'Destroy', rma_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rma order', new_rma_order_path %>
