<h1>Listing warehouses</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @warehouses.each do |warehouse| %>
  <tr>
    <td><%= warehouse.id %></td>
    <td><%= warehouse.name %></td>
    <td><%= link_to 'Show', warehouse %></td>
    <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
    <td><%= link_to 'Destroy', warehouse, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Warehouse', new_warehouse_path %>
