<%= form_for(@documented_material) do |f| %>
  <% if @documented_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documented_material.errors.count, "error") %> prohibited this documented_material from being saved:</h2>

      <ul>
      <% @documented_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
